$primary: #D26B20;
$primaryLight: #D77D3C;
$primaryDark: #CC5D00;
$accent: #343434;

$headerSize: 48pt;
$subheaderSize: 36pt;
$textSize: 14pt;

body {
    margin: 0;
}

nav {
    background-color: $primaryDark;
    height: 80px;
    padding: 0 20px;
    position: fixed;
    color: seashell;
    vertical-align: top;
    width: 100%;

    #peprallyLogo {
        display: inline-block;
        height: 70px;
        margin-right: 20px;
    }

    #navButtons {
        display: inline-block;
        height: 100%;
        vertical-align: top;
        color: inherit;

        li {
            color: inherit;
            display: inline-block;
            height: 100%;
        }

    }
    button {
        margin: 0 20px;
        font-size: $textSize;
        color: inherit;
        cursor: pointer;
        height: 100%;
        padding-top: 25px - $textSize;

        &:focus {
            outline: 0;
        }
    }
}

section {
    height: 600px;
    width: 100%;
}

header {
    font-size: $headerSize;
    text-align: center;
}

h1 {
    font-size: $headerSize;
    text-align: center;
    padding-top: 300px - $headerSize;
}

#mainContent {
    padding-top: 80px;
}

#heroContent {
    background: url(../../images/PepRally_Cover.svg) no-repeat;
    background-size: cover;
}

#survey {
    background-color: $accent;
}

#board {
    background-color: $primary;
}

footer {
    background-color: $accent;
    color: white;
    height: 200px;
    padding: 50px 200px;

    ul {
        display: inline-block;
        vertical-align: top;
        margin: 0 5%;

        h2 {
            font-size: $textSize + 4pt;
            margin-bottom: 20px;
        }

        li {
            margin-bottom: 10px;
        }
    }
}